@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-title {
  padding: 30px;
  font-size: 5em;
  font-family: "Comfortaa", cursive;
  color: #94d894;
  font-weight: 950;
}

.breakpoint {
  font-size: 5em;
  color: #94d894;
  font-weight: 950;
}

.proposal-img {
  height: 30.5vh;
  position: relative;
  text-align: center;
  opacity: 0.7;
}

.proposal-review {
  position: absolute;
  top: 37.5%;
  left: 30%;
  padding-left: 20px;
  padding-right: 20px;
  transform: translate(-20%, -50%);
  background-color: white;
  opacity: 0.85;
  font-size: 1.3em;
  color: black;
  font-weight: 400;
  line-height: 1.6;
}

.carly-img {
  height: 30.5vh;
  position: relative;
  text-align: center;
  opacity: 0.7;
}

.kristen-review {
  position: absolute;
  top: 70%;
  left: 30%;
  padding-left: 20px;
  padding-right: 20px;
  transform: translate(-20%, -1%);
  background-color: white;
  opacity: 0.85;
  font-size: 1.3em;
  color: black;
  font-weight: 400;
  line-height: 1.6;
}
