@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.navbar {
  padding: 10px;
  background-color: #fbf3eb;
  display: flex;
  align-items: flex-end;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  padding: 20px;
  height: 14vh;
}

.link-button {
  padding-right: 10px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 500px) {
  /* this is for desktop */
  .navbar {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
  }

  .logo-img {
    height: 25vh;
  }

  li {
    padding: 18px 10px;
  }
  .links {
    display: flex;
    justify-content: space-between;
  }
  .link-button {
    font-size: 1em;
  }

  /* until here is for desktop */
}
