@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.navbar {
  background-color: #fbf3eb;
  display: flex;
  align-items: flex-end;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  height: 16vh;
}

.link-button {
  padding-right: 20px;
  font-size: 2em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 500px) {
  /* this is for desktop */
  .navbar {
    padding: 10px 10px;
    /* display: flex;
    flex-direction: column; */
  }

  li {
    padding: 18px 10px;
  }
  .links {
    display: flex;
    justify-content: space-between;
  }
  .link-button {
    font-size: 1em;
  }

  /* until here is for desktop */
}
