@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.navbar {
  background-color: #fbf3eb;
  display: flex;
  align-items: flex-end;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  height: 16vh;
}

.link-button {
  padding-right: 20px;
  font-size: 2em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 376px) {
  /* this is for desktop */
  .nav-list {
    padding: 15px 15px;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
  }

  li {
    padding: 18px 10px;
  }

  /* until here is for desktop */
}
